<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script  >
    <script src="https://kit.fontawesome.com/888d09bdb5.js" crossorigin="anonymous"></script>
    <title>About Us</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <nav class="navbar">
          <a class="navbar-brand" href="{% url 'index' %}">
            Validator
          </a>
        </nav>
        <form class="form-inline pt-sm-3">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-primary" type="submit"><i class="fas fa-search"></i></button>
        </form>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" href="#">Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about'%}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Support</a>
          </li>
        </ul>

</nav>
    <div class="jumbotron">
        <h1 class="display-4">About Us</h1>
        <p class="lead">We're a group of CSULB students trying to reduce the digital divide</p>
        <hr class="my-4">
        <p>For our senior design course we decided to make a site that allows people access to not only news, but the
        meta-data about the sites and the bias of the associated articles</p>
    </div>
</body>
</html>
